In [17]:
import numpy as np
import pandas as pd

In [29]:
file_path = '/Users/tanujdeshmukh/Desktop/Georgia Tech/Fall 2024/NonParametricDataAnalysis/Project/DataCollection/combined_stock_data_last_20_years.csv'  # Replace with the actual file name or path
df = pd.read_csv(file_path)
df.rename(columns={'Symbol': 'Company Name'}, inplace=True)
print(df.head())

  Company Name        Date   Open    High    Low  Close     Volume
0          IBM  2004-01-30  92.86   99.85  89.01  99.23  139368500
1          IBM  2004-02-27  99.15  100.43  95.20  96.50   97741900
2          IBM  2004-03-31  96.50   97.60  90.28  91.84  124483700
3          IBM  2004-04-30  91.67   94.55  88.01  88.17  110632000
4          IBM  2004-05-28  88.13   89.75  85.12  88.59  104707300

In [33]:
def access_global_dataframe():
    return df
# Call the function to test global access
access_global_dataframe()

,Company Name,Date,Open,High,Low,Close,Volume,Log Return
745,MSFT,2004-01-30,27.580,28.830,27.2600,27.65,1232189000,0.203447
746,MSFT,2004-02-27,27.630,27.800,26.3500,26.53,1032065600,-0.041350
1,IBM,2004-02-27,99.150,100.430,95.2000,96.50,97741900,1.291267
252,AAPL,2004-02-27,22.460,24.100,21.7000,23.92,87893400,-1.394828
253,AAPL,2004-03-31,24.090,28.140,23.6000,27.04,207609200,0.122602
...,...,...,...,...,...,...,...,...
994,MSFT,2024-10-31,428.450,438.500,406.3000,406.35,440766715,0.864908
744,GOOGL,2024-11-27,170.070,182.490,163.7000,169.23,515733407,-0.875956
501,AAPL,2024-11-27,220.965,235.690,219.7100,234.93,863159337,0.328029
250,IBM,2024-11-27,207.770,229.190,204.0700,226.92,74640334,-0.034690
995,MSFT,2024-11-27,409.010,429.325,405.5713,422.99,426049420,0.622751

#### Calculating Log Normal Return

In [32]:
df['Date'] = pd.to_datetime(df['Date'])  # Convert to datetime for sorting
df.sort_values(by='Date', inplace=True)
# Calculate log-normal returns
df['Log Return'] = np.log(df['Close'] / df['Close'].shift(1))
# Display the DataFrame with the new column
print(df)
df.dropna(subset=['Log Return'], inplace=True)

    Company Name       Date     Open     High       Low   Close      Volume  \
251         AAPL 2004-01-30   21.550   24.840   21.1800   22.56   141567900
745         MSFT 2004-01-30   27.580   28.830   27.2600   27.65  1232189000
746         MSFT 2004-02-27   27.630   27.800   26.3500   26.53  1032065600
1            IBM 2004-02-27   99.150  100.430   95.2000   96.50    97741900
252         AAPL 2004-02-27   22.460   24.100   21.7000   23.92    87893400
..           ...        ...      ...      ...       ...     ...         ...
994         MSFT 2024-10-31  428.450  438.500  406.3000  406.35   440766715
744        GOOGL 2024-11-27  170.070  182.490  163.7000  169.23   515733407
501         AAPL 2024-11-27  220.965  235.690  219.7100  234.93   863159337
250          IBM 2024-11-27  207.770  229.190  204.0700  226.92    74640334
995         MSFT 2024-11-27  409.010  429.325  405.5713  422.99   426049420

     Log Return
251         NaN
745    0.203447
746   -0.041350
1      1.291267
252   -1.394828
..          ...
994    0.864908
744   -0.875956
501    0.328029
250   -0.034690
995    0.622751

[995 rows x 8 columns]