In [17]:
import numpy as np
import pandas as pd

In [36]:
file_path = '/Users/tanujdeshmukh/Desktop/Georgia Tech/Fall 2024/NonParametricDataAnalysis/Project/DataCollection/combined_stock_data_last_20_years.csv'
df = pd.read_csv(file_path)
df.rename(columns={'Symbol': 'Company Name'}, inplace=True)
print(df.head())

         Date   Open   High    Low  Close      Volume
0  2004-01-30  36.66  39.00  36.22  37.07  1759300400
1  2004-02-27  37.20  37.97  36.10  36.57  1728110800
2  2004-03-31  36.68  37.18  34.01  35.84  2509465300
3  2004-04-30  35.81  37.50  34.72  34.77  2211173100
4  2004-05-28  35.00  36.55  34.11  36.55  2429662200

In [37]:
def access_global_dataframe():
    return df
# Call the function to test global access
access_global_dataframe()

           Date    Open    High       Low   Close      Volume
0    2004-01-30   36.66   39.00   36.2200   37.07  1759300400
1    2004-02-27   37.20   37.97   36.1000   36.57  1728110800
2    2004-03-31   36.68   37.18   34.0100   35.84  2509465300
3    2004-04-30   35.81   37.50   34.7200   34.77  2211173100
4    2004-05-28   35.00   36.55   34.1100   36.55  2429662200
..          ...     ...     ...       ...     ...         ...
247  2024-08-30  471.76  485.54  423.4500  476.27   908585535
248  2024-09-30  473.20  493.70  448.1900  488.07   694549166
249  2024-10-31  487.70  501.35  477.4000  483.85   660234819
250  2024-11-29  485.50  515.58  484.2545  509.74   567729700
251  2024-12-03  511.01  517.15  510.6200  516.87    43745065

[252 rows x 6 columns]

#### Calculating Log Normal Return

In [38]:
df['Date'] = pd.to_datetime(df['Date'])  # Convert to datetime for sorting
df.sort_values(by='Date', inplace=True)
# Calculate log-normal returns
df['Log Return'] = np.log(df['Close'] / df['Close'].shift(1))
# Display the DataFrame with the new column
print(df)
df.dropna(subset=['Log Return'], inplace=True)

          Date    Open    High       Low   Close      Volume  Log Return
0   2004-01-30   36.66   39.00   36.2200   37.07  1759300400         NaN
1   2004-02-27   37.20   37.97   36.1000   36.57  1728110800   -0.013580
2   2004-03-31   36.68   37.18   34.0100   35.84  2509465300   -0.020164
3   2004-04-30   35.81   37.50   34.7200   34.77  2211173100   -0.030310
4   2004-05-28   35.00   36.55   34.1100   36.55  2429662200    0.049926
..         ...     ...     ...       ...     ...         ...         ...
247 2024-08-30  471.76  485.54  423.4500  476.27   908585535    0.010978
248 2024-09-30  473.20  493.70  448.1900  488.07   694549166    0.024474
249 2024-10-31  487.70  501.35  477.4000  483.85   660234819   -0.008684
250 2024-11-29  485.50  515.58  484.2545  509.74   567729700    0.052126
251 2024-12-03  511.01  517.15  510.6200  516.87    43745065    0.013891

[252 rows x 7 columns]